// font
@font-face {
  font-family: "jumper";
  src: url("./font/JumperPERSONALUSEONLY-Black.ttf") format("truetype");
} // jumper

// reset & variable
@import "./styles/reset.scss";
@import "./styles/variable.scss";

// common
html {
  font-size: 62.5%;
}

// contents
body {
  width: 100%;
  height: 100vh;
  padding: 0 3%;
  font-size: 1.6rem;
  background: map-get($map: $color, $key: bg);
  color: map-get($map: $color, $key: red);
  font-family: "jumper";
}

header {
  width: 100%;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  nav {
    ul {
      display: flex;
      gap: 20px;
      li {
        a {
          &:hover {
            line-height: 8px;
            font-weight: bold;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.ifno {
  font-size: 2.4rem;
  font-weight: bold;
}
